<%= @test %>
<div id="event_details" class="col-md-6">
	<p><a href="/events">Events Dashboard</a> <a href="/sessions" data-method='delete'>Logout</a></p>
	<div id="left" class="col-md-6">
		<h2><%= @event.name %></h2>
		
		<h3><a href="/letters/">Date Letter</a></h3>
	
		<h4>Author: <%= @event.user.first_name %> <%= @event.user.last_name %></h4>
		<h4>Date: <%= @event.date.strftime("%B %e %Y") %></h4>
		<h4>Location: <%= @event.city %>,<%= @event.state %></h4>
		<h4>People who are checking out this Date: <%= @count %></h4>
		<br>
		<% if @count != 0 %>
			<table>
				<tr>
					<th>Name</th>
					<th>Location</th>
					<th>State</th>
				</tr>
				<% @joins.each do |j| %>
					<tr>
						<td><%= j.user.first_name %> <%= j.user.last_name %></td>
						<td><%= j.user.city %></td>
						<td><%= j.user.state %></td>
					</tr>
				<% end %>
			</table>
		<% end %>
		<% if @event.user_id == session[:user_id] %>
			<h3>Edit Your Event</h3>
			<form action="/events/edit/<%= @event.id %>" method='post'>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<table>
					<tr>
						<td>Name</td>
						<td><input type="text" name='edit_event[name]' value="<%= @event.name %>"></td>
					</tr>
					<tr>
						<td>Date</td>
						<td><input type="date" name="edit_event[date]" min="<%= Time.now.strftime("%Y-%m-%d") %>" value="<%= @event.date %>"></td>
					</tr>
					<tr>
						<td>Location</td>
						<td><input type="text" name="edit_event[city]" value="<%= @event.city %>">
							<select name="edit_event[state]">
								<option value="<%= @event.state %>"><%= @event.state %></option>
								<option value="AL">AL</option>
								<option value="AK">AK</option>
								<option value="AZ">AZ</option>
								<option value="AR">AR</option>
								<option value="CA">CA</option>
								<option value="CO">CO</option>
								<option value="CT">CT</option>
								<option value="DE">DE</option>
								<option value="DC">DC</option>
								<option value="FL">FL</option>
								<option value="GA">GA</option>
								<option value="HI">HI</option>
								<option value="ID">ID</option>
								<option value="IL">IL</option>
								<option value="IN">IN</option>
								<option value="IA">IA</option>
								<option value="KS">KS</option>
								<option value="KY">KY</option>
								<option value="LA">LA</option>
								<option value="ME">ME</option>
								<option value="MD">MD</option>
								<option value="MA">MA</option>
								<option value="MI">MI</option>
								<option value="MN">MN</option>
								<option value="MS">MS</option>
								<option value="MO">MO</option>
								<option value="MT">MT</option>
								<option value="NE">NE</option>
								<option value="NV">NV</option>
								<option value="NH">NH</option>
								<option value="NJ">NJ</option>
								<option value="NM">NM</option>
								<option value="NY">NY</option>
								<option value="NC">NC</option>
								<option value="ND">ND</option>
								<option value="OH">OH</option>
								<option value="OK">OK</option>
								<option value="OR">OR</option>
								<option value="PA">PA</option>
								<option value="RI">RI</option>
								<option value="SC">SC</option>
								<option value="SD">SD</option>
								<option value="TN">TN</option>
								<option value="TX">TX</option>
								<option value="UT">UT</option>
								<option value="VT">VT</option>
								<option value="VA">VA</option>
								<option value="WA">WA</option>
								<option value="WV">WV</option>
								<option value="WI">WI</option>
								<option value="WY">WY</option>
							</select>
						</td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Edit Event"></td>
					</tr>
				</table>
			</form>
		<% end %>
	</div>
	<div id="right" class="col-md-6">
		<h3>Discussion about this Date: </h3>
		<div id="discussion">
			<% if @comment_count == 0 %>
				<p>There isn't any comment for this Date</p>
			<% end %>
			<% @comments.each do |c| %>
				<p><%= c.user.first_name %> says: <%= c.content %> </p>
			<% end %>
		</div>
		<div id="comment" class="col-md-6">
			<form action="/comments" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="hidden" name="comment[event_id]" value="<%= @event.id %>">
				<input type="hidden" name="comment[user_id]" value="<%= session[:user_id] %>">
				<input type="textarea" name="comment[content]" placeholder="Enter a comment">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
