<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I've Dated">
    <meta name="author" content="Boz">
    <title>I've Dated</title>
    <!-- Bootstrap Core CSS -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom CSS -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic,700'
        rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,400italic,700italic,700'
        rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'main', 'font-awesome', 'application','responsive','bootstrap','bootstrap.min' %>
    <%= javascript_include_tag 'jquery.min', 'script', 'modernizr.min', 'jquery.nicescroll.min', 'bootstrap.min', 'bootstrap' %>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="all-ie-only.css" />
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
/*body, html {
    height: 100%;
}*/
.parallax { 
    /* The image used */
    background-image: url("http://ivedated.com/wp-content/uploads/2016/06/ivedated_CLOUD2WebBG.png");

    /* Set a specific height */
    height: 100%;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>
<body class="top-menu-menu-from-right">
    <div class="se-pre-con">
    </div>
    <div class="main-site-container homepage">
    
        <video  class="video-background" autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
            <source src="http://demosthenes.info/assets/videos/polina.webm" type="video/webm">
            <source src="http://demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
        </video>
        <div class="col-md-2 col-sm-3 col-xs-6  page-section profile-sidebar height-one-one NiceScrollbar" >
        <!-- <a class="hide-profile-sidebar-link"><i class="fa fa-close"></i></a> -->
            <div class="user-profile">
                <div class="user-profile">
                <a class="logo-home-link">Welcome ...</a>
                    <p class="text-center">
                        <%= image_tag("user-profile.png") %>

                       	
                    </p>
                    <div class="user-profile-details first">

                        <p>
                            Join today: <span>Free to Join</span></p>
                        <p>
                            Speak up: <span>make friends</span></p>
                        <p>
                            Get tips: <span>discover new experiences</span></p>
                        
                        <p>
                            Events: <span>meet at local events</span></p>
                        <p>
                            Find Love: <span>open new doors</span></p>

                            <hr>
                       
                    </div>
                  
                </div>
            </div>
      		</div>
      		
        <div class="col-md-10 col-xs-12 page-section pages"><!--
            --><div class="col-md-9  col-md-offset-0  col-sm-offset-3 col-sm-9 col-xs-12 page-container height-one-one expanded " id="home" >
                <div class="height-one-one NiceScrollbar">
                    <div class="page-content">
                        <div class="page-title">
                            I've <br>
                            
                            Dated <span class="page-sub-title">SHARED MOMENTS</span>
                        </div>
                        <div class="page-post-cotnent">
                            <div class="page-cotnent-tabs" style="display: block;" id="profile">
                                Finding that unique connection...I've Dated is a shared experience app where women can post anonymously experiences in the dating world.  Share your experiences and discover new possibilities... <br><br><br><br><br><br>
                                <div class="arrow bounce" align="right"> 
                                

								</div>
							
                            </div>
 
            
				<!-- <div class="col-md-7 col-lg-5 col-xs-12  page-container portfolio height-one-one" id="portfolio" style="background-color: #F9F9F5;"> -->
                <div class="page-transition-buttons">
                    <!-- <a class="prev-page" href="#home" >HOME</a><a class="next-page">LOGIN</a> <a class="change-page-state">EXPAND</a> -->
                </div>
                	<div class="height-one-one portfolio-container portfolio-image-post NiceScrollbar">

                   
		
	<!-- #Wrapper -->
	<!-- <div id="Wrapper"> -->

<!-- Container element -->
		<div class="parallax">
	<!-- MAIN IMAGE -->
			<div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 300%; height: 100%; backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); visibility: inherit; opacity: 1;">
		
			</div>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; left: 429px; top: 54px; z-index: 5; transform: matrix(1, 0, 0, 1, 0, 0);">
			<div class="tp-loop-wrap" style="position:absolute;">
				<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
					
				</div>
			</div>
		</div>


		<!-- LAYER NR. 2 -->
		<div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; left: 543px; top: 179px; z-index: 6; transform: matrix(1, 0, 0, 1, 0, 0);">
			<div class="tp-loop-wrap" style="position:absolute;">
				<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;">
					
				</div>
			</div>
		</div>
		

<div id="register" class="col-md-6">
	<center><h1>Register</h1></center>
	<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<table>
			<tr>
				<td>First Name</td>
				<td><input type="text" name="user[first_name]" class="form-control"></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" name="user[last_name]" class="form-control"></td>
			</tr>

			<tr>
				<td>Email</td>
				<td><input type="email" name="user[email]" class="form-control"></td>
			</tr>
			<tr>
				<td>City</td><br>
				<td>State</td>
				<td>
					<input type="text" name="user[city]" class="form-control">
					<select name="user[state]">
						<option value="AL">AL</option>
						<option value="AK">AK</option>
						<option value="AZ">AZ</option>
						<option value="AR">AR</option>
						<option value="CA">CA</option>
						<option value="CO">CO</option>
						<option value="CT">CT</option>
						<option value="DE">DE</option>
						<option value="DC">DC</option>
						<option value="FL">FL</option>
						<option value="GA">GA</option>
						<option value="HI">HI</option>
						<option value="ID">ID</option>
						<option value="IL">IL</option>
						<option value="IN">IN</option>
						<option value="IA">IA</option>
						<option value="KS">KS</option>
						<option value="KY">KY</option>
						<option value="LA">LA</option>
						<option value="ME">ME</option>
						<option value="MD">MD</option>
						<option value="MA">MA</option>
						<option value="MI">MI</option>
						<option value="MN">MN</option>
						<option value="MS">MS</option>
						<option value="MO">MO</option>
						<option value="MT">MT</option>
						<option value="NE">NE</option>
						<option value="NV">NV</option>
						<option value="NH">NH</option>
						<option value="NJ">NJ</option>
						<option value="NM">NM</option>
						<option value="NY">NY</option>
						<option value="NC">NC</option>
						<option value="ND">ND</option>
						<option value="OH">OH</option>
						<option value="OK">OK</option>
						<option value="OR">OR</option>
						<option value="PA">PA</option>
						<option value="RI">RI</option>
						<option value="SC">SC</option>
						<option value="SD">SD</option>
						<option value="TN">TN</option>
						<option value="TX">TX</option>
						<option value="UT">UT</option>
						<option value="VT">VT</option>
						<option value="VA">VA</option>
						<option value="WA">WA</option>
						<option value="WV">WV</option>
						<option value="WI">WI</option>
						<option value="WY">WY</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="user[password]" class="form-control"></td>
			</tr>
			<tr>
				<td>Confirm Password</td>
				<td><input type="password" name="user[password_confirmation]" class="form-control"></td>
			</tr>
			<tr>
			
					

				<td><input type="submit" class="btn btn-default" value="Submit"></td>
			</tr>
		</table>
	</form>
</div>

<div id="login" class="col-md-6">
	<center><h1>Login</h1></center>
	<form action="/sessions" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<table>
			<tr>
				<td>Email</td>
				<td><input type="email" name="email" class="form-control"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" class="form-control"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" class="btn btn-default" value="Submit"></td>
			</tr>
		</table>
	</form>
</div>

	</div>
		
</div>

</div>			




</body>
