<!DOCTYPE html>
<html lang="en">
<head>

	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic,700'
        rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,400italic,700italic,700'
        rel='stylesheet' type='text/css'>

<style>
body, html {
	background-image: url("http://ivedated.com/wp-content/uploads/2016/06/ivedated_CLOUD2WebBG.png");
    height: 150%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax { 
    /* The image used */
    /*background-image: url("http://ivedated.com/wp-content/uploads/2016/06/ivedated_CLOUD2WebBG.png");*/

    /* Set a specific height */
    height: 150%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.add_events {
	display: inline-block;
}

.thumb img{
    border: 4px solid #F45A5D;
    border-radius: 50%;
    margin: 10px 0;
    max-width: 140px;
    width: 100%;
}

.thumb2 img{
    border: 4px solid #F45A5D;
    border-radius: 50%;
    margin: 10px 0;
    max-width: 70px;
    height: 100%;
    width: 70%;
}

</style>
</head>
<body>
	
	<!-- mfn_hook_top --><!-- mfn_hook_top -->	
		
		
	<!-- #Wrapper -->
<!-- <div id="Wrapper"> -->
	

				

<!-- Container element -->
<!-- 	<div class="parallax"> -->

<!-- .header_placeholder 4sticky  -->
		<!-- <div class="header_placeholder" style="height: 0px;"></div> -->
			
		<!-- MAIN IMAGE -->
		<!-- <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); visibility: inherit; opacity: 1;"> --><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="http://ivedated.com/wp-content/uploads/2016/06/ivedated_CLOUD2WebBG.png" alt="" title="ivedated_CLOUD2WebBG" width="1205" height="898" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg defaultimg" data-no-retina="">-->
		<!-- 	<div class="tp-bgimg defaultimg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://ivedated.com/wp-content/uploads/2016/06/ivedated_CLOUD2WebBG.png&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="http://ivedated.com/wp-content/uploads/2016/06/ivedated_CLOUD2WebBG.png"> -->
			
			
		
			


<div id="container" class="col-md-6" align="left">
	<div id="nav">
		<h3>Welcome <%= @user.first_name %></h3>

		<p class="thumb">
		<%= image_tag @user.image.url (:thumb)  %>
		</p>

		<p><a href="/profiles/<%= @user.id %>">Edit my profile</a> <a href="/sessions" data-method='delete'>Logout</a></p>
	</div>
	<div id="events">
		<h4>Here are some of insights from other users in your state:</h4>
		<table>
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Location</th>
				<th>User</th>
				<th>Action/Status</th>
			</tr>
			<% if !@eventsarray.include?(@user.state) %>
				<p>There's no event in your state</p>
			<% end %>
			<% @events.each do |e| %>
				<% if e.state == @user.state %>
					<tr>
						
						<td><p class="thumb2"><%= image_tag e.user.image.url (:small)  %></p><a href="/events/<%= e.id %>"><%= e.name %></a></td>
						<td><%= e.date.strftime("%B %e %Y") %></td>
						<td><%= e.city %></td>
						<td><%= e.user.first_name %></td>
						<td>

							<% if @user.id == e.user.id %>
								<a href="/events/<%= e.id %>">Edit</a>
								<a href="/events/<%= e.id %>" data-method='delete'>Delete</a>
							<% else %>
								<% if @joinevents.include?(e.id) %>
									Liked
									<a href="/joins/<%= e.id %>" data-method="delete">Cancel</a>
								<% else %>
									<a href="/joins/<%= e.id %>">View</a>
								<% end %>	
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>

	<div id="add_events" class="col-md-6" display="inline-block">
		<h4>Here are some of the events on other state:</h4>
		<table>
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Location</th>
				<th>State</th>
				<th>User</th>
				<th>Action/Status</th>
			</tr>
			<% if @eventsarray.include?(!@user.state) %>
				<p>There's no event in another state</p>
			<% end %>
			<% @events.each do |e| %>
				<% if e.state != @user.state %>
					<tr>
											
						<td><p class="thumb2"><%= image_tag e.user.image.url (:small)  %></p><a href="/events/<%= e.id %>"><%= e.name %></a></td>
						<td><%= e.date.strftime("%B %e %Y") %></td>
						<td><%= e.city %></td>
						<td><%= e.state %></td>
						<td><%= e.user.first_name %></td>
						<td>
							<% if @user.id == e.user.id %>
								<a href="/events/<%= e.id %>">Edit</a>
								<a href="/events/<%= e.id %>" data-method='delete'>Delete</a>
							<% else %>
								<% if @joinevents.include?(e.id) %>
									Liked
									<a href="/joins/<%= e.id %>" data-method="delete">Cancel</a>
								<% else %>
									<a href="/joins/<%= e.id %>">Like</a>
								<% end %>	
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>




	<div id="add_events" class="col-md-6" display="inline-block">
	<h3>Add Event</h3>
		<form action="/events" method='post'>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name='event[user_id]' value="<%= @user.id %>">
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" name='event[name]'></td>
				</tr>
				<tr>
					<td>Date</td>
					<td><input type="date" name="event[date]" min="<%= Time.now.strftime("%Y-%m-%d") %>"></td>
				</tr>
				<tr>
					<td>Location</td>
					<td><input type="text" name="event[city]">
						<select name="event[state]">
							<option value="AL">AL</option>
							<option value="AK">AK</option>
							<option value="AZ">AZ</option>
							<option value="AR">AR</option>
							<option value="CA">CA</option>
							<option value="CO">CO</option>
							<option value="CT">CT</option>
							<option value="DE">DE</option>
							<option value="DC">DC</option>
							<option value="FL">FL</option>
							<option value="GA">GA</option>
							<option value="HI">HI</option>
							<option value="ID">ID</option>
							<option value="IL">IL</option>
							<option value="IN">IN</option>
							<option value="IA">IA</option>
							<option value="KS">KS</option>
							<option value="KY">KY</option>
							<option value="LA">LA</option>
							<option value="ME">ME</option>
							<option value="MD">MD</option>
							<option value="MA">MA</option>
							<option value="MI">MI</option>
							<option value="MN">MN</option>
							<option value="MS">MS</option>
							<option value="MO">MO</option>
							<option value="MT">MT</option>
							<option value="NE">NE</option>
							<option value="NV">NV</option>
							<option value="NH">NH</option>
							<option value="NJ">NJ</option>
							<option value="NM">NM</option>
							<option value="NY">NY</option>
							<option value="NC">NC</option>
							<option value="ND">ND</option>
							<option value="OH">OH</option>
							<option value="OK">OK</option>
							<option value="OR">OR</option>
							<option value="PA">PA</option>
							<option value="RI">RI</option>
							<option value="SC">SC</option>
							<option value="SD">SD</option>
							<option value="TN">TN</option>
							<option value="TX">TX</option>
							<option value="UT">UT</option>
							<option value="VT">VT</option>
							<option value="VA">VA</option>
							<option value="WA">WA</option>
							<option value="WV">WV</option>
							<option value="WI">WI</option>
							<option value="WY">WY</option>
						</select>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" class="btn btn-default" value="Add Event"></td>
				</tr>
			</table>
		</form>
	
		
<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; left: 429px; top: 54px; z-index: 5; transform: matrix(1, 0, 0, 1, 0, 0);">
			<div class="tp-loop-wrap" style="position:absolute;">
				<div class="tp-mask-wrap" style="position: auto; overflow: visible; height: auto; width: auto;">
					<div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-10-layer-1" data-x="87" data-y="136" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;s:1100;e:Power4.easeInOut;" data-transform_out="s:300;" data-start="0" data-responsive_offset="on" style="z-index: 5; visibility: inherit; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 6px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img src="http://ivedated.com/wp-content/uploads/2016/06/ivedated_WebCloud.png" alt="" width="300" height="351" data-ww="377px" data-hh="449px" data-no-retina="" style="width: 148.976px; height: 177.427px; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 70px; letter-spacing: 0px; font-weight: 400; font-size: 6px;"> 
						</div>
					</div>
				</div>
			</div>


		<!-- LAYER NR. 2 -->
		<div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; left: 543px; top: 179px; z-index: 6; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-loop-wrap" style="position:absolute;">
			<div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto; padding-left: 90px; padding-top: 40px">
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-3" id="slide-10-layer-3" data-x="375" data-y="452" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1990;e:Power4.easeInOut;" data-transform_out="s:300;" data-start="1200" data-responsive_offset="on" style="z-index: 6; visibility: inherit; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 6px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><img src="http://ivedated.com/wp-content/uploads/2016/06/IveDated-NAME-.png" alt="" width="813" height="144" data-ww="702px" data-hh="119px" data-no-retina="" style="width: 277.403px; height: 47.0242px; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 6px;"> 
				</div>
						
	
	</div>


</body>
			

